.ef-alert {
  border: none;
  padding: 18px 35px 17px 15px;

  @include fontstack-georgia;
  font-size: 16px;
  font-style: italic;

  .close {
    opacity: 1;
    top: 0;
    text-shadow: none;

    &:hover {
      opacity: $opacity-hover;
    }
  }
}

.alert.bg-white {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.ef-infobar {
  .alert-avatar, .alert-msg, .alert-link {
    display: block;
    float: left;
  }

  .alert-avatar {
    padding-right: 20px;
  }

  .alert-msg {
    margin-top: 3px;
  }

  .user-name {
    font-weight: 700;
  }

  .alert-link {
    padding: 0;
    float:right;

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    box-shadow: none;

    &:hover {
      background: transparent;
      text-decoration: none;
      color: map_get($primary-colours, BLUE);
    }
  }
}

@include media-breakpoint-up(xs) {
  .ef-infobar {
    .alert-msg {
      width: 77%;
    }
    .alert-link {
      float: left;
      margin-top: 12px;
      margin-left: 50px;
    }
  }
}
@include media-breakpoint-up(sm) {
  .ef-infobar {
    .alert-msg {
      width: 85%;
    }
    .alert-link {
      float: left;
      margin-top: 12px;
      margin-left: 50px;
    }
  }
}
@include media-breakpoint-up(md) {
  .ef-infobar {
    .alert-msg {
      width: 60%;
    }
    .alert-link {
      margin-top: 4px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .ef-infobar {
    .alert-msg {
      width: 72%;
    }
    .alert-link {
      margin-top: 4px;
    }
  }
}
