.alert-matte-gold,
.alert-rain,
.alert-gray-dark,
.alert-black,
.alert-white {
  border: none;
  padding: 18px 35px 17px 15px;

  font-family: Georgia;
  font-size: 16px;
  font-style: italic;

  .close {
    opacity: 1;
    top: 0;
    text-shadow: none;

    &:hover {
      opacity: $opacity-hover;
    }
  }
}
.alert-white {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
