.ef-banner {
  background: url('images/banner-back.png') no-repeat #000;
  background-size: cover;
  color: white;
  height: 172px;
  font-size: 0;
  display: table;
  width: 100%;

  .ef-banner-body {
    display: table-cell;
    padding: $spacer-y*1.5 0;
    vertical-align: middle;
  }

  .banner-slogan, .banner-link {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      display: block;
      width: auto;
    }
  }

  .banner-link {
    text-align: right;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      margin-top: $spacer-y*2;
      text-align: left;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

  .current-module {
    opacity: .5;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
  }
  .current-module-name {
    font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: 300;
  }
  .level {
    opacity: .5;
    font-family: Georgia;
    font-size: 13px;
    font-style: italic;
  }
}
