.ef-breadcrumb {
  $BLACK: map-get($primary-colours, BLACK);
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $spacer-y;
  list-style: none;
  @include border-radius($border-radius);
  @include clearfix;

  > li {
    float: left;
    padding: 0 30px;
    height: 65px;
    border-bottom: 4px solid $BLACK;

    text-align: center;
    color: $BLACK;

    &:last-child {
      border-bottom: 2px solid $BLACK;
    }

    a {
      color: $BLACK;
      display: block;
      height: 65px;
      position: relative;
      @include hover-focus {
        text-decoration: none;
        &:after {
          display: block;
          content: '';
          position: absolute;
          left: calc(50% - #{16px/2});
          bottom: 0;
          width: 0;
          height: 0;
          border-color: transparent;
          border-bottom-color: $BLACK;
          border-width: 10px 16px;
          border-style: solid;
        }
      }

      .title {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        line-height: 1.2;
      }
      .desc {
        font-family: Georgia;
        font-size: 14px;
        font-style: italic;
        margin: 0;
        line-height: 1.2;
      }
    }
  }
}
