.ef-breadcrumb {
  $BLACK: map-get($primary-colours, BLACK);

  display: table;
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $spacer-y;
  list-style: none;
  @include border-radius($border-radius);
  @include clearfix;

  @mixin arrow_link {
    text-decoration: none;
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: calc(50% - #{16px/2});
      bottom: 0;
      width: 0;
      height: 0;
      border-color: transparent;
      border-bottom-color: $BLACK;
      border-width: .3em .5em;
      border-style: solid;
    }
  }

  > li {
    display: table-cell;
    vertical-align: baseline;
    border-bottom: 5px solid $BLACK;
    @include font-size-responsive;

    text-align: center;
    color: $BLACK;
    &:last-child {
      border-bottom: 2px solid $BLACK;
    }

    a {
      color: $BLACK;
      display: block;
      position: relative;
      padding: 1.5em 2em;
      margin-bottom: -1px;


      @include hover-focus {
        @include arrow_link;
      }

      @media (max-width: map-get($grid-breakpoints, md)) {
        padding: .75em 1em;
      }
    }

    .title {
      font-size: 150%;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: .2em;
      line-height: 1.2;
    }

    .desc {
      font-size: 100%;
      @include fontstack-serif-notes;
      margin: 0;
      line-height: 1.2;
    }

    &.active a {
      @include arrow_link;
    }
  }
}
