$btn-main-color: map-get($primary-colours, WHITE) !default;
$btn-main-bg: map-get($primary-colours, BLUE) !default;
$btn-main-border: map-get($primary-colours, BLUE) !default;
$btn-black-color: map-get($primary-colours, WHITE) !default;
$btn-black-bg: map-get($primary-colours, BLACK) !default;
$btn-black-border: map-get($primary-colours, BLACK) !default;
$btn-continue-color: map-get($primary-colours, BLACK) !default;
$btn-continue-bg: map-get($primary-colours, WHITE) !default;
$btn-continue-border: map-get($primary-colours, WHITE) !default;
$enable-rounded: true;

@mixin ef-button-other-variant($color) {
  color: $color;
  background-color: transparent;
  border-color: transparent;
}

@mixin ef-button-contrast-variant($color) {
  color: $color;
  background-image: none;
  background-color: white;
  border-color: transparent;

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: white;
    background-color: $color;
  }
  @include hover {
    color: white;
    background-color: $color;
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      color: lighten($color, 20%);
    }
    @include hover {
      color: lighten($color, 20%);
    }
  }
}
@mixin ef-button-contrast-outline-variant($color_contrast) {
  color: white;
  background-image: none;
  background-color: transparent;
  border-color: white;

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color_contrast;
    border-color: $color_contrast;
  }
  @include hover {
    color: $color_contrast;
    border-color: $color_contrast;
  }
}

.ef-btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include button-size(8px, 2.5rem, 12px, 1.5, 0.25rem);
  padding-bottom: 5px;
  @include transition(all .2s ease-in-out);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
    outline: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }

  &:after {
    content: '\27f6'; // LONG RIGHTWARDS ARROW
    margin-left: 1rem;
  }
}
.ef-btn-main {
  @include button-variant($btn-main-color, $btn-main-bg, $btn-main-border);
}
.ef-btn-black {
  @include button-variant($btn-black-color, $btn-black-bg, $btn-black-border);
}
.ef-btn-continue {
  @include ef-button-contrast-variant($btn-continue-color);
}
.ef-btn-main-outline {
  @include button-outline-variant($btn-main-bg);
}
.ef-btn-black-outline {
  @include button-outline-variant($btn-black-bg);
}
.ef-btn-continue-outline {
  @include ef-button-contrast-outline-variant($btn-continue-color);
}
.ef-btn-other {
  @include ef-button-other-variant($btn-main-bg);
}
