html, html a {
  @include font-smooth;
}

body {
  overflow-x: hidden;
}

ol.toc {

  &, ol {
    padding-left: 0;
    list-style: none;
  }

  // section level
  > li:not(.col-spacer) {
    font-weight: 600;
    font-size: $font-size-lg;
    counter-increment: level1;

    > a:before {
      content: counter(level1) '. ';
    }

    // sub-level
    > ol {
      padding-top: 1.5em;
      font-weight: normal;
      font-size: $font-size-base;
      color: $gray;

      > li {
        counter-increment: level2;

        > a:before {
          content: counter(level1) '.' counter(level2) ' ';
        }
      }
    }
  }
}

header {
  text-align: center;

  .icon {
    font-size: 130%;
    vertical-align: middle;
    margin-top: -8px;
    margin-right: .2em;
  }
}

main > section {
  padding: $spacer-y*3 0;
}

.color-box {
  display: table;
  border-spacing: .5em;
  width: 100%;
  height: 120px;
  margin-bottom: 1em;

  @include media-breakpoint-up(lg) {
    border-spacing: 1em;
    height: 250px;
    margin-bottom: 3em;
    border-spacing: 2em;
  }

  &.bg-white {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.color-label {
  display: table-cell;
  font-weight: 300;
  vertical-align: bottom;
  text-align: left;
  @include font-size-responsive();
}


.bg-warm-grey {
  background-color: #EDEBE8;
}

.bg-warm-paper {
  background-color: #F9F6F2;
}

.bg-contrast-grey {
  background-color: #CDCDCD;
}

.bg-warm-eggshell {
  background-color: #F9F6F2;
}

.imagery-frame {
  border: 2px solid map_get($primary-colours, MATTE-GOLD);
  height: 0;
  padding-bottom: 110%;

  dfn {
    position: relative;
    z-index: 999;
  }

  .imagery {
    transform: scale(1.1);
  }
}

.font-card {
  margin-bottom: 30px;

  .card-text.letters {
    padding: 30px 0;
    font-size: $font-size-h3;
    text-transform: capitalize;
  }

  p.card-text {
    color: $gray-light;
  }

  .card-footer {
    letter-spacing: 1.5px;
  }
}

.section-statements {

  h5 {
    @include fontstack-sans-serif-bold;
    text-transform: none;
    font-weight: 600;
    counter-increment: level1;
    &:before {
      content: '1.' counter(level1) ' ';
    }
  }
}

section#imagery {
  .ef-banner {
    max-width: 1240px;
    margin: auto;
    background: center center /cover;
    padding-bottom: 37.465374%;
  }

  .ef-card {
    padding: 2em 1em;
    @include font-size-responsive;
    top: 0;

    @include media-breakpoint-up(sm) {
      padding: 2em;
      top: -100px;
      margin-bottom: -50px;
    }
  }
}

.section-alert {
  .alert {
    margin-bottom: 2.5rem;
  }
}

.section-cards {
  background-color: #f9f6f2;

  .row {
    position: relative;
  }

  .example-content-cards {
    text-align: center;
    color: #898989;
    margin-bottom: 0;

    p {
      font-size: 29px;
      font-weight: 100;
      text-transform: uppercase;
    }
  }

  .example-card-type-normal,
  .example-card-type-selected {
    position: absolute;
    top: 190px;
    margin-left: -60px;

    p {
      font-size: 24px;
      font-weight: 100;
      color: #898989;
      text-transform: uppercase;
    }
  }
  .example-card-type-selected {
    top: 140px;
    margin-left: -80px;
  }
  @include media-breakpoint-up(xs) {
    .example-card-type-normal,
    .example-card-type-selected {
      display: none;
    }
  }
  @include media-breakpoint-up(md) {
    .example-content-cards.under-sm {
      display: none;
    }
    .example-card-type-normal,
    .example-card-type-selected {
      display: block;
      p {
        font-size: 16px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .example-card-type-normal,
    .example-card-type-selected {
      p {
        font-size: 20px;
      }
    }
  }
}

.ef-btn {
  min-width: 200px;
}

.btn-bg-continue {
  background-color: #CDCDCD;
}

.ef-btn-other.pull-left {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.section-button .col {
  padding: 0;
}

.tooltip-inner {
  width: 120px !important;
}

.tooltips > span {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;

  &.top {
    top: 40px;
  }

  &.left {
    left: 105px;
  }

  &.right {
    left: -105px;
  }

  &.bottom {
    top: -40px;
  }
}

.ef-combo .dropdown-toggle {
  min-width: 200px;
}

.ef-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

table.weekly-schedule {
  th:first-child {
    color: map_get($primary-colours, RAIN);
    width: 100px;
  }
}

section#menu-tabs {
  .ef-nav {
    max-width: 700px;
    margin: auto;

    .nav-link {
      max-width: 130px;
    }
  }
}

#site-nav {
  border-top: 3px solid $gray-lighter;
  background-color: white;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  @include media-breakpoint-down(xs) {
    > .container {
      padding: 0;
    }
  }

  .ef-nav {
    @include font-size-responsive;
    transform: translateY(-3px);
    white-space: nowrap;

    .nav-item + .nav-item {
      margin-left: 0;
    }

    > li {
      counter-increment: tab;

      > a {
        padding: 1em 0;
        text-transform: capitalize;
        color: $gray-light;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .ef-nav > li {
      counter-increment: tab;
      > a {
        &:before {
          content: '0' counter(tab) '. '
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .ef-nav > li > a {
      padding: 2em 0;
    }
  }
}
