@font-face {
  font-family: HelveticaNeueLTPro;
  src: url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.eot?#iefix");
  src: url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.eot?#iefix") format("eot"), url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.woff") format("woff"), url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.ttf") format("truetype"), url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: HelveticaNeueLTPro;
  src: url("fonts/helvetica65-medium/HelveticaNeueLTPro-Md.eot?#iefix");
  src: url("fonts/helvetica65-medium/HelveticaNeueLTPro-Md.eot?#iefix") format("eot"), url("fonts/helvetica65-medium/HelveticaNeueLTPro-Md.woff") format("woff"), url("fonts/helvetica65-medium/HelveticaNeueLTPro-Md.ttf") format("truetype"), url("fonts/helvetica65-medium/HelveticaNeueLTPro-Md.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: HelveticaNeueLTPro;
  src: url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.eot?#iefix");
  src: url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.eot?#iefix") format("eot"), url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.woff") format("woff"), url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.ttf") format("truetype"), url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: HelveticaNeueLTPro;
  src: url("fonts/helvetica35-thin/HelveticaNeueLTPro-Th.eot?#iefix");
  src: url("fonts/helvetica35-thin/HelveticaNeueLTPro-Th.eot?#iefix") format("eot"), url("fonts/helvetica35-thin/HelveticaNeueLTPro-Th.woff") format("woff"), url("fonts/helvetica35-thin/HelveticaNeueLTPro-Th.ttf") format("truetype"), url("fonts/helvetica35-thin/HelveticaNeueLTPro-Th.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
  font-weight: 100;
}

$font-weight-thin:        100 !default;
$font-weight-extra-light: 200 !default;
$font-weight-light:       300 !default;
$font-weight-default:     400 !default;
$font-weight-medium:      500 !default;
$font-weight-semi-bold:   600 !default;
$font-weight-bold:        700 !default;
$font-weight-heavy:       800 !default;
$font-weight-black:       900 !default;

$fontstack-serif-notes: Georgia, Times, 'Times New Roman', serif;
$fontstack-serif-contrast: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$fontstack-sans-serif: HelveticaNeueLTPro, "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "SimHei", sans-serif;

@mixin fontstack-sans-serif-thin {
  font-family: $fontstack-sans-serif;
  font-weight: $font-weight-thin;
}

@mixin fontstack-sans-serif-light {
  font-family: $fontstack-sans-serif;
  font-weight: $font-weight-light;
}

@mixin fontstack-sans-serif-medium {
  font-family: $fontstack-sans-serif;
  font-weight: $font-weight-medium;
}

@mixin fontstack-sans-serif-bold {
  font-family: $fontstack-sans-serif;
  font-weight: $font-weight-bold;
}

@mixin fontstack-serif-notes {
  font-family: $fontstack-serif-notes;
  font-style: italic;
}

@mixin fontstack-serif-contrast {
  font-family: $fontstack-serif-contrast;
  font-style: italic;
}

.text-bold {
  @include fontstack-sans-serif-bold;
}

.text-medium {
  @include fontstack-sans-serif-medium;
}

.text-light {
  @include fontstack-sans-serif-light;
}

.text-thin {
  @include fontstack-sans-serif-thin;
}

.text-notes {
  @include fontstack-serif-notes;
}

.text-contrast {
  @include fontstack-serif-contrast;
}
