@font-face {
  font-family: helvetica77BoldCondensed;
  src: url("fonts/helvetica77-bold-condensed/HelveticaNeueLTPro-BdCn.eot?#iefix");
  src: url("fonts/helvetica77-bold-condensed/HelveticaNeueLTPro-BdCn.eot?#iefix") format("eot"), url("fonts/helvetica77-bold-condensed/HelveticaNeueLTPro-BdCn.woff") format("woff"), url("fonts/helvetica77-bold-condensed/HelveticaNeueLTPro-BdCn.ttf") format("truetype"), url("fonts/helvetica77-bold-condensed/HelveticaNeueLTPro-BdCn.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}


@font-face {
  font-family: helvetica75Bold;
  src: url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.eot?#iefix");
  src: url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.eot?#iefix") format("eot"), url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.woff") format("woff"), url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.ttf") format("truetype"), url("fonts/helvetica75-bold/HelveticaNeueLTPro-Bd.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

@font-face {
  font-family: helvetica75Bold;
  src: url("fonts/helvetica65-medium/HelveticaNeueLTStd-Md.eot?#iefix");
  src: url("fonts/helvetica65-medium/HelveticaNeueLTStd-Md.eot?#iefix") format("eot"), url("fonts/helvetica65-medium/HelveticaNeueLTStd-Md.woff") format("woff"), url("fonts/helvetica65-medium/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("fonts/helvetica65-medium/HelveticaNeueLTStd-Md.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}


@font-face {
  font-family: helvetica45Light;
  src: url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.eot?#iefix");
  src: url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.eot?#iefix") format("eot"), url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.woff") format("woff"), url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.ttf") format("truetype"), url("fonts/helvetica45-light/HelveticaNeueLTPro-Lt.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

@font-face {
  font-family: helvetica45Thin;
  src: url("fonts/helvetica35-thin/HelveticaNeueLTStd-Th.eot?#iefix");
  src: url("fonts/helvetica35-thin/HelveticaNeueLTStd-Th.eot?#iefix") format("eot"), url("fonts/helvetica35-thin/HelveticaNeueLTStd-Th.woff") format("woff"), url("fonts/helvetica35-thin/HelveticaNeueLTStd-Th.ttf") format("truetype"), url("fonts/helvetica35-thin/HelveticaNeueLTStd-Th.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

@mixin fontstack-helvetica-thin {
  font-family: helvetica45Thin, Helvetica, Arial, sans-serif;
}

@mixin fontstack-helvetica-light {
  font-family: helvetica45Light, Helvetica, Arial, sans-serif;
}

@mixin fontstack-helvetica-bold {
  font-family: helvetica75Bold, Helvetica, Arial, sans-serif;
}

@mixin fontstack-helvetica-boldcondensed {
  font-family: helvetica77BoldCondensed, Helvetica, Arial, sans-serif;
}

@mixin fontstack-georgia {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

@mixin fontstack-garamond {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

.text-helvetica-boldcondensed {
  @include fontstack-helvetica-boldcondensed;
}

.text-helvetica-bold {
  @include fontstack-helvetica-bold;
}

.text-helvetica-medium {
  @include fontstack-helvetica-bold;
}

.text-helvetica-light {
  @include fontstack-helvetica-light;
}

.text-helvetica-thin {
  @include fontstack-helvetica-thin;
}

.text-georgia {
  @include fontstack-georgia;
}

.text-garamond {
  @include fontstack-garamond;
}