$nav-ef-link-padding: 1.3rem;
$nav-ef-color: map_get($primary-colours, BLACK);

.nav-ef {
  @include clearfix();

  .nav-item {
    float: left;

    + .nav-item {
      margin-left: 4rem;
    }
  }

  .nav-link {
    display: block;
    width: 128px;
    padding: $nav-ef-link-padding 0;
    border-top: 3px solid transparent;


    color: $nav-ef-color;
    opacity: 0.5;
    font-size: 12px;
    font-family: HelveticaNeue;
    text-transform: uppercase;
    text-align: center;


    &:hover {
      border-top: 3px solid $nav-ef-color;
      opacity: 0.5;
    }
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      border-top: 3px solid $nav-ef-color;
      opacity: 1;
      cursor: default;
    }
  }
}
