.ef-table {
  border-collapse: separate;
  border-spacing: 1em;

  & > tbody > tr > th {
    @include fontstack-serif-notes;
    font-weight: 400;
  }
}

.ef-table-2-col {
  @include media-breakpoint-up(sm) {
    border-spacing: 1.5em .5em;
  }

  > caption {
    caption-side: top;
    text-align: center;
    font-size: 120%;
    color: inherit;
  }

  > tbody > tr {
    > th {
      font-weight: 600;
      text-align: right;
      width: 50%;
    }

    > td {
      color: $gray;
      text-align: left;
    }
  }
}