h1, h2  {
  @include fontstack-sans-serif-bold;
  text-transform: uppercase;
}

h3 {
  @include fontstack-sans-serif-light;
  text-transform: uppercase;
}

h4,h5,h6 {
  @include fontstack-sans-serif-thin;
  text-transform: uppercase;
}

/* TODO: enumerate all content tags here */
p {
  @include fontstack-sans-serif-light;
  font-size: $font-size-content;
}

dfn {
  font-family: Garamond Italic;
}

.lockup {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  @include fontstack-serif-contrast;
  font-style: italic;
  white-space: nowrap;

  &:after, &:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 1em;
    background-color: $gray-dark;
  }

  &:before {
    margin-right: .5em;
  }

  &:after {
    margin-left: .5em;
  }

  &:after, &:before, & > * {
    vertical-align: middle;
  }
}
