.font-weight-lighter {
  font-weight: 200;
}

.text-notrans     { text-transform: none !important; }

/* regular font-size translated to responsive percentage size. */
@for $size from 10 through 40 {
  .font-size-#{$size} {
    font-size: percentage($size / (no-units($font-size-root)));
  }
}

/* This is to establish space between wrapped columns in a grid row */
.col-spacer {
  display: table;
  clear: both;
  width: 100%;
  height: auto !important;
  min-height: inherit !important;
  line-height: normal !important;
}