section#banners.section-banner
    .bg-warm-paper.p-t-3
      .container
          h2 4.1 BANNERS
      .p-y-2
        .ef-banner
          .ef-banner-body
            .container
                .banner-slogan
                  p.current-module Your current module
                  p.current-module-name General English
                  p.level Level 3, Beginner  |  Unit 1: Times and Days
                .banner-link
                  a.ef-btn.ef-btn-continue(href='javascript:;') CONTINUE
