section.section-banner
    .bg-warm-grey.p-y-3
      .container
          h2 4.1 BANNERS
      .p-y-3
        .container-fluid.ef-banner
          .container
            .row
              .col-md-12
                .banner-slogan
                  p.current-module Your current module
                  p.current-module-name General English
                  p.level Level 3, Beginner  |  Unit 1: Times and Days
                .banner-link
                  a.ef-btn.ef-btn-continue(href='javascript:;') CONTINUE
