section#breadcrumbs.section-breadcrumbs.bg-warm-paper
      .container
          h2 4.2 BREADCRUMBS
          ol.ef-breadcrumb
            li.hidden-lg-down
              a(href="javascript:;")
                p.title language
                p.desc English
            li.hidden-sm-down
              a(href="javascript:;")
                p.title DESTINATION
                p.desc Brisbane - Australia
            li.hidden-md-down
              a(href="javascript:;")
                p.title COURSE
                p.desc Cambridge Exam Prep
            li.active
              a(href="javascript:;")
                p.title Date
                p.desc 13-10-13 > 27 -06-14
            li
              p.title SUMMARY
