section.section-cards
    .bg-warm-grey.p-y-3
      .container
          h2 4.4 4.4 CONTENT CARDS VARIATIONS & teacher cards
          .p-y-2
          .row
            .col-md-4
              p GE REGULAR
            .col-md-4
              p BUSINESS & STT
            .col-md-4
              p INDUSTRY
          .row
            .col-md-4
              .card.card-inverse.ef-card
                img.card-img-top(src="",style="background-image:url('images/06elementary.png')", alt="")
                .card-img-overlay
                  h1.card-text.font-weight-medium 06
                  h2.card-text.font-weight-lighter Elementary
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
            .col-md-4
              .card.card-inverse.ef-card
                img.card-img-top(src="",style="background-image:url('images/negotiation.png')", alt="")
                .card-img-overlay
                  h2.card-text.font-weight-lighter Negotiations
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
            .col-md-4
              .card.card-inverse.ef-card
                img.card-img-top(src="",style="background-image:url('images/mitarbeiterf-hrung-und.png')", alt="")
                .card-img-overlay
                  h2.card-text.font-weight-lighter Mitarbeiterführung Und Managment asdasdasdasdasda
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
                .ef-card-link
                  a(href="javascript:;") learn more
          .row
            .col-md-4
              .card.card-inverse.ef-card
                img.card-img-top(src="",style="background-image:url('images/upper-advanced.png')", alt="")
                .card-img-overlay
                  h1.card-text.font-weight-medium 16
                  h2.card-text.font-weight-lighter Upper Advanced
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
            .col-md-4
              .card.card-inverse.ef-card
                img.card-img-top(src="",style="background-image:url('images/toeic.png')", alt="")
                .card-img-overlay
                  h2.card-text.font-weight-lighter TOEIC
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
