section#controls.controls
        .container
            h2 4.5 common UI controls
            .m-t-3
                .row
                  .col-sm-4.col-xs-12
                        h4.text-gray-light Progress Bars
                            .m-y-2
                                .ef-progress
                                    .ef-progress-bar.progress-bar-success(role='progressbar', style='width: 1%;')
                                        | 1%
                                .ef-progress
                                    .ef-progress-bar.progress-bar-success(role='progressbar', style='width: 60%;')
                                        | 60%

                  .col-sm-8.col-xs-12
                        h4.text-gray-light Sliders
                        .m-y-2
                            input(type='text', data-toggle="slider" data-slider-min='10', data-slider-max='1000', data-slider-step='5', data-slider-value='250')
                        .m-y-1
                            br
                        .m-y-1
                            input(type='text', data-toggle="slider" data-slider-min='10', data-slider-max='1000', data-slider-step='5', data-slider-value='[250,450]')

                .row
                  .col-sm-4.col-xs-12
                        h4.text-gray-light Switches Outline

                        .m-y-2
                            input(type='checkbox', checked='', data-handle-width="30")

                        .m-y-2
                            input(type='checkbox', checked='', data-inverse="true" data-handle-width="30")


                .row
                  .col-md-6.col-xs-12
                        h4.text-gray-light Tool Tips
                        .m-y-2.tooltips
                            span.top.m-l-2.m-r-3(data-toggle='tooltip', data-placement='top', data-title='Top Tooltip')
                            span.right.m-l-3(data-toggle='tooltip', data-placement='right', data-title='Left Tooltip')
                            .m-y-2
                            span.left.m-l-2.m-r-3(data-toggle='tooltip', data-placement='left', data-title='Right Tooltip')
                            span.bottom.m-l-3(data-toggle='tooltip', data-placement='bottom', data-title='Bottom Tooltip')

                            script.
                                $('[data-toggle="tooltip"]').tooltip({
                                template:
                                '<div class="tooltip ef-tooltip" role="tooltip">' +
                                    '<div class="tooltip-arrow"></div>' +
                                    '<div class="tooltip-inner"></div>' +
                                '</div>',
                                trigger: 'manual'
                                }).tooltip('show');

                  .col-md-6.col-xs-12
                        h4.text-gray-light Pagination & Navigation
                        mixin page-dot(cls)
                            li.page-dot(class=cls)
                                | &#x00B7;&#x00B7;&#x00B7;
                        .m-y-1
                            nav
                              ul.ef-pagination.pagination
                                li.page-nav.disabled
                                  a.page-link(href='javascript:;')
                                    span.icon.icon-arrow-long-left
                                li.page-item.active
                                  a.page-link(href='javascript:;') 1
                                +page-dot
                                li.page-item.hidden-sm-down
                                  a.page-link(href='javascript:;') 5
                                +page-dot('hidden-sm-down')
                                li.page-item
                                  a.page-link(href='javascript:;') 99
                                li.page-nav
                                  a.page-link(href='javascript:;')
                                    span.icon.icon-arrow-long-right

                        .m-y-1
                            nav
                              ul.ef-pagination.pagination
                                li.page-nav
                                  a.page-link(href='javascript:;')
                                      span.icon.icon-arrow-long-left
                                li.page-item
                                  a.page-link(href='javascript:;') 1
                                +page-dot
                                li.page-item.hidden-sm-down
                                  a.page-link(href='javascript:;') 5
                                +page-dot('hidden-sm-down')
                                li.page-item.active
                                  a.page-link(href='javascript:;') 99
                                li.page-nav.disabled
                                  a.page-link(href='javascript:;')
                                    span.icon.icon-arrow-long-right

                        .m-y-1
                            nav(style='max-width: 250px;')
                                ul.pager.ef-pager
                                    li.pager-prev
                                        a.text-uppercase(href='javascript:;') go back
                                    li.pager-next
                                        a.text-uppercase(href='javascript:;') next


            .m-y-3
                h4.text-gray-light Combo boxes
                mixin combo_dropdown
                    .dropdown-menu(style="max-height: 300px")
                        h3.dropdown-group-title Travel English
                        .dropdown-group
                            a.dropdown-item(href="javascript:;") TRAVEL ENGLISH
                            a.dropdown-item(href="javascript:;") BUSINESS WRITING
                            a.dropdown-item(href="javascript:;") NEGOTIATIONS
                            a.dropdown-item(href="javascript:;") MEETINGS

                        h3.dropdown-group-title Business English
                        .dropdown-group
                            a.dropdown-item(href="javascript:;") APPOINTMENTS
                            a.dropdown-item(href="javascript:;") PRESENTATIONS
                            a.dropdown-item(href="javascript:;") NEGOTIATIONS
                            a.dropdown-item(href="javascript:;") MEETINGS

                .row
                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                        .dropdown.ef-combo.m-y-1
                            button.btn.ef-btn-black.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                span.text-uppercase COMBO BOX
                            +combo_dropdown

                  .col-lg-4.col-md-5.col-sm-6.col-xs-12
                        .dropdown.ef-combo.m-y-1
                            button.btn.ef-btn-black-outline.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                span.text-uppercase COMBO BOX ALT
                            +combo_dropdown

                .row
                  .col-lg-8.col-md-10.col-sm-12.col-xs-12
                        .row.bg-contrast-grey.p-y-2
                            .col-sm-6.col-xs-12
                                .dropdown.ef-combo.m-y-1
                                    button.btn.ef-btn-continue.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                        span.text-uppercase COMBO BOX
                                    +combo_dropdown

                            .col-sm-6.col-xs-12
                                .dropdown.ef-combo.m-y-1
                                    button.btn.ef-btn-continue-outline.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                        span.text-uppercase COMBO BOX ALT
                                    +combo_dropdown

            .m-y-3
                h4.text-gray-light Dropdown
                .row
                  .col-lg-3.col-md-5.col-sm-6.col-xs-12
                        .dropdown.ef-dropdown
                            button.btn.btn-secondary.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                span.text-uppercase Age
                            .dropdown-menu(style="max-height: 300px")
                                - var i = 18;
                                    while i < 100
                                        a.dropdown-item(href="javascript:;") #{i++}