section.controls
    .p-y-3
        .container
            h2 4.5 common UI controls
            .m-t-3
                .row
                    .col-sm-4
                        h4.text-gray-light Progress Bars
                            .m-y-2
                                .ef-progress
                                    .ef-progress-bar.progress-bar-success(role='progressbar', style='width: 1%;')
                                        | 1%
                                .ef-progress
                                    .ef-progress-bar.progress-bar-success(role='progressbar', style='width: 60%;')
                                        | 60%

                    .col-sm-8
                        h4.text-gray-light Sliders
                        // TODO

                .row
                    .col-sm-4
                        h4.text-gray-light Switches Outline

                        .m-y-2
                            input(type='checkbox', checked='', data-handle-width="30")

                        .m-y-2
                            input(type='checkbox', checked='', data-inverse="true" data-handle-width="30")

                    .col-sm-8

                .row
                    .col-xs-12
                        h4.text-gray-light Tool Tips
                        .m-y-2.tooltips
                            span.top.m-l-2.m-r-3(data-toggle='tooltip', data-placement='top', data-title='Top Tooltip')
                            span.right.m-l-3(data-toggle='tooltip', data-placement='right', data-title='Left Tooltip')
                            .m-y-2
                            span.left.m-l-2.m-r-3(data-toggle='tooltip', data-placement='left', data-title='Right Tooltip')
                            span.bottom.m-l-3(data-toggle='tooltip', data-placement='bottom', data-title='Bottom Tooltip')

                            script.
                                $('[data-toggle="tooltip"]').tooltip({
                                template:
                                '<div class="tooltip ef-tooltip" role="tooltip">' +
                                    '<div class="tooltip-arrow"></div>' +
                                    '<div class="tooltip-inner"></div>' +
                                '</div>',
                                trigger: 'manual'
                                }).tooltip('show');

            .m-y-3
                h4.text-gray-light Combo boxes
                mixin combo_dropdown
                    .dropdown-menu(style="max-height: 300px")
                        h3.dropdown-group-title Travel English
                        .dropdown-group
                            a.dropdown-item(href="javascript:;") TRAVEL ENGLISH
                            a.dropdown-item(href="javascript:;") BUSINESS WRITING
                            a.dropdown-item(href="javascript:;") NEGOTIATIONS
                            a.dropdown-item(href="javascript:;") MEETINGS

                        h3.dropdown-group-title Business English
                        .dropdown-group
                            a.dropdown-item(href="javascript:;") APPOINTMENTS
                            a.dropdown-item(href="javascript:;") PRESENTATIONS
                            a.dropdown-item(href="javascript:;") NEGOTIATIONS
                            a.dropdown-item(href="javascript:;") MEETINGS

                .row
                    .col-sm-3
                        .dropdown.ef-combo.m-y-1
                            button.btn.ef-btn-black.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                span.text-uppercase COMBO BOX
                            +combo_dropdown

                    .col-sm-3
                        .dropdown.ef-combo.m-y-1
                            button.btn.ef-btn-black-outline.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                span.text-uppercase COMBO BOX ALT
                            +combo_dropdown

                .row
                    .col-md-6.col-sm-8
                        .row.bg-contrast-grey.p-y-2
                            .col-sm-6
                                .dropdown.ef-combo.m-y-1
                                    button.btn.ef-btn-continue.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                        span.text-uppercase COMBO BOX
                                    +combo_dropdown

                            .col-sm-6
                                .dropdown.ef-combo.m-y-1
                                    button.btn.ef-btn-continue-outline.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                        span.text-uppercase COMBO BOX ALT
                                    +combo_dropdown

            .m-y-3
                h4.text-gray-light Dropdown
                .row
                    .col-sm-6
                        .dropdown.ef-dropdown
                            button.btn.btn-secondary.dropdown-toggle.text-xs-left(data-toggle="dropdown")
                                span.text-uppercase Age
                            .dropdown-menu(style="max-height: 300px")
                                - var i = 18;
                                    while i < 100
                                        a.dropdown-item(href="javascript:;") #{i++}