footer
  .container
    .row
      .col-xs-12
        ul.nav.navbar-nav.text-left
          li.nav-item
            a.nav-link(target='_blank', href='https://github.com/englishtown/gudstrap4') Github
          li.nav-item.divider
          li.nav-item
            a.nav-link(target='_blank', href='https://englishtown.github.io//gudstrap') GUDStrap 3
          li.nav-item.divider
          li.nav-item
            a.nav-link(target='_blank', href='http://v4-alpha.getbootstrap.com') Bootstrap 4
        p.copyright
          | © Signum International S.a r.l Luxembourg Luzern Branch, a company of EF Education First Group.
          | Company reserves all rights.
