section.icons.p-t-3(style='background-color:#F1F4F4;')
        .container
            h2 2.2 ICONS
            .row.m-b-3
                .col-md-push-6.col-md-6
                    dfn.text-gray-light
                        | Icons represents entities, objects and illustrate specific user actions. Any future icon designs should be created as part of this set and follow the stylistic feature.

            .row
                -
                    // list of icons in pack
                    var icons = [
                        'share',
                        'delete',
                        'help',
                        'edit',
                        'lock',
                        'unlock',
                        'location',
                        'email',
                        'speech',
                        'dialogue',
                        'comment',
                        'refresh',
                        'settings',
                        'calendar',
                        'clock',
                        'tick',
                        'sound',
                        'login',
                        'logout',
                        'save',
                        'bookmark',
                        'like',
                        'dislike',
                        'magnify',
                        'map',
                        'notification-ok',
                        'notification',
                        'exclamation',
                        'reward',
                        'folder',
                        'document',
                        'shopping-cart',
                        'image',
                        'desktop',
                        'laptop',
                        'tablet',
                        'mobile',
                        'camera',
                        'headphones',
                        'headset',
                        'phone',
                        'website',
                        'bed',
                        'hotel',
                        'meal',
                        'city',
                        'ticket',
                        'airplane',
                        'boat',
                        'car',
                        'bus',
                        'train',
                        'bicycle',
                        'walking',
                        'book',
                        'binoculars',
                        'wine-glass',
                        'cocktail-glass',
                        'anchor',
                        'tennis',
                        'subway',
                        'gym',
                        'library',
                        'aquarium',
                        'wrench',
                        'park',
                        'football',
                        'agile-indicator',
                        'hand',
                        'exam',
                        'golf',
                        'skiing',
                        'world',
                        'history',
                        'science',
                        'nature',
                        'teacher',
                        'globe',
                        'money',
                        'business',
                        'surfing',
                        'star',
                        'paper',
                        'new',
                        'piggy-bank',
                        'shovel',
                        'beach',
                        'hourglass',
                        'certificate',
                        'luggage',
                        'crescent-moon',
                        'hrs24',
                        'alert',
                        'plus',
                        'amusement',
                        'sun',
                        'brochure',
                        'zoo',
                        'snow',
                        'soccer',
                        'museum',
                        'theatre',
                        'swimming',
                        'diving',
                        'video',
                        'student',
                        'person',
                        'speaking',
                        'child',
                        'lesson',
                        'art',
                        'lifebuoy',
                        'compass',
                        'baseball',
                        'horse-riding',
                        'cinema',
                        'fire',
                        'umbrella',
                        'shopping',
                        'sunny',
                        'rainy',
                        'backpack',
                        'lightbulb',
                        'home'
                    ];

                each name in icons
                    .col-md-2.col-sm-3.col-xs-4
                        .text-xs-center
                            div.font-weight-normal(class='icon icon-' + name, style='font-size: 40px;')
                            p.font-weight-lighter.text-gray-light.p-y-2
                                span.hidden-md-down(style='font-size:20px;') #{name}
                                span.hidden-lg-up.hidden-xs-down(style='font-size:14px;') #{name}
                                span.hidden-sm-up(style='font-size:10px;') #{name}

                .clearfix