section.icons.p-t-3.hidden-md-down
    .container
        h2 3.1 layout blocks
        .m-y-2
            .ef-layout-blocks
                .media
                    .media-left.media-middle
                        a(href='javascript:;').pull-sm-right
                            img.media-object(src='./images/media-1.png', alt='Conversation Class')
                    .media-body.media-middle.p-a-3
                        .icon.icon-lesson.font-size-150.p-y-1
                        h4.text-notes.text-capitalize Today's conversational class
                        h3.media-heading.text-capitalize Asking for directions
                        p.font-weight-normal Classes start every hour, 24/7 and give you the confidence to interact with English speakers. No preparation needed.
                        p.p-b-1.text-gray-light.font-italic.font-weight-normal Next class starts in 12 minutes | 42 minutes
                        .ef-btn.ef-btn-black  GO TO CLASS

                .media
                    .media-left.media-middle
                        a(href='javascript:;').pull-sm-right
                            img.media-object(src='./images/media-2.png', alt='Conversation Class')
                    .media-body.media-middle.p-a-3
                        h4.text-notes.text-capitalize Tomorrow's Class
                        h3.media-heading.text-capitalize You're still lost. Asking again.
                        p.p-b-1.text-gray-light.font-italic.font-weight-normal First class starts at 7:00 A.M.
                        .ef-btn.ef-btn-other.font-size-90.pull-left  SHOW WEEK SCHEDULEl
