section.icons.p-t-3
    .container
        h2 3.1 layout blocks
        .m-y-3.hidden-md-down
            .ef-layout-blocks
                .media
                    .media-left.media-middle
                        a(href='javascript:;').pull-sm-right
                            img.media-object(src='./images/media-1.png', alt='Conversation Class')
                    .media-body.media-middle.p-a-3
                        .icon.icon-lesson.font-size-24.p-y-1
                        h4.text-notes.text-capitalize Today's conversational class
                        h3.media-heading.text-capitalize Asking for directions
                        p.font-weight-normal Classes start every hour, 24/7 and give you the confidence to interact with English speakers. No preparation needed.
                        p.p-b-1.text-gray-light.font-italic.font-weight-normal Next class starts in 12 minutes | 42 minutes
                        .ef-btn.ef-btn-black  GO TO CLASS

                .media
                    .media-left.media-middle
                        a(href='javascript:;').pull-sm-right
                            img.media-object(src='./images/media-2.png', alt='Conversation Class')
                    .media-body.media-middle.p-a-3
                        h4.text-notes.text-capitalize Tomorrow's Class
                        h3.media-heading.text-capitalize You're still lost. Asking again.
                        p.p-b-1.text-gray-light.font-italic.font-weight-normal First class starts at 7:00 A.M.
                        .ef-btn.ef-btn-other.font-size-14.pull-left  SHOW WEEK SCHEDULEl

        h2 3.2 micro layouts
        .m-y-3.hidden-md-down
            .ef-layout-unit-progress
                .media
                    .media-left.media-top
                        h4.text-notes.text-capitalize
                            | Unit 1 &nbsp;
                            span.ef-badge-completed
                        h2.media-heading Holidays
                        p.font-weight-normal Passed on 13th July 2014

                    .media-body.media-top
                        table.ef-layout-table
                            tr
                                th
                                th.time.font-weight-bold.text-gray-lighter.text-uppercase.font-size-13 total time
                                th.score.font-weight-bold.text-gray-lighter.text-uppercase.font-size-13 total score
                                th(colspan=3)
                            tr
                                td Talking about flight arrangements
                                td.time 05 mins
                                td.score 29 %
                                td.devices
                                    .icon.icon-mobile.font-size-32
                                    .icon.icon-desktop(style='font-size: 400%')
                                td
                                    span.ef-badge-completed

                            tr
                                td Checking in for a flight
                                td.time 24 mins
                                td.score 15 %
                                td.devices
                                    .icon.icon-mobile.font-size-32
                                td
                                    span.ef-badge-completed
                            tr
                                td Helping someone get to a hotel
                                td.time 66 mins
                                td.score 99 %
                                td.devices
                                    .icon.icon-mobile.font-size-32
                                    .icon.icon-desktop(style='font-size: 400%')
                                td
                                    span.ef-badge-completed

                            tr
                                td Writting about past travels
                                td.time 101 mins
                                td.score 100 %
                                td.devices
                                    .icon.icon-mobile.font-size-32
                                    .icon.icon-desktop(style='font-size: 400%')
                                td
                                    span.ef-badge-completed

        .m-y-3
            .row
                .col-md-5
                    .ef-layout-entrance
                        .center-block.icon.icon-book.font-size-32.p-y-1
                        h3.text-capitalize Main title here
                        p.indent-1.text-notes Subtitle or brief message goes here. Maximum in two lines and with attention to brevity and precision.
                        .m-y-3
                            table.ef-layout-table
                                tr
                                    td Describing your experience
                                    td
                                        span.ef-badge-completed
                                tr
                                    td Disagreements and compilations
                                    td
                                        span.ef-badge-completed
                                tr
                                    td Recommending a hotel
                                    td
                                        button.ef-btn.ef-btn-other.pull-right-xs
                                tr
                                    td Describing experiences
                                    td

                        button.center-block.ef-btn.ef-btn-main CONTINUE

                .p-y-3.hidden-sm-up
                .col-md-6.col-md-push-1
                    .ef-layout-entrance
                        .center-block.icon.icon-lesson.font-size-32.p-y-1
                        h3.text-capitalize Group Lesson: Asking for directions
                        p.indent-1.text-notes It's very common to get lost in a place we are not familiar with. Learn how to ask strangers for directions
                        .m-y-3
                            .countdown
                                table
                                    tr
                                        td 00
                                        td 20
                                        td 45
                                    tr
                                        th hour
                                        th min
                                        th sec
                        .p-b-2
                            p.indent-2.text-gray-light Be ready when the classroom opens by completing a compatibility check.
                        button.center-block.ef-btn.ef-btn-main CHECK MY SYSTEM