section#dialogues.modals.bg-warm-grey
        .container
            h2 4.6 dialogues
            .m-t-3
                .row
                    .col-lg-3.col-xs-12.p-y-1
                        button.ef-btn.ef-btn-main(data-toggle="modal", data-target="#t1", aria-hidden="true") Modal Primary 1
                        #t1.modal.ef-modal.modal-primary.text-xs-center.col-xs-12
                            .modal-dialog(role='document')
                                .modal-content(style='max-width: 450px;')
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        h5.modal-title
                                            | Week Schedule
                                    .modal-body
                                        table.ef-table.weekly-schedule.text-xs-left
                                            tr
                                                th Monday
                                                td Expanding your vocabulary
                                            tr
                                                th Tuesday
                                                td Solving a puzzle
                                            tr
                                                th Wednesday
                                                td Making big decisions
                                            tr
                                                th Thursday
                                                td Taking part in a trial
                                            tr
                                                th Friday
                                                td Understanding computers
                                            tr
                                                th Sunday
                                                td Keeping fit

                                        .center-block.p-y-1.text-matte-gold
                                            span.icon.icon-world &nbsp;
                                            | All times follow Eastern Standard Time

                    .col-lg-3.col-xs-12.p-y-1
                        button.ef-btn.ef-btn-main(data-toggle="modal", data-target="#t2", aria-hidden="true") Modal Primary 2
                        #t2.modal.ef-modal.modal-primary.text-xs-center.col-xs-12
                            .modal-dialog(role='document')
                                .modal-content(style='max-width: 400px;')
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        h5.modal-title
                                            | Title of the dialog here
                                    .modal-body
                                        p.center-block
                                            | This I have produced as a scantling of Jack's great eloquence and force of his reasoning upon such abstruse matters
                                        p
                                            button.ef-btn.ef-btn-main MAIN CTA
                                        p
                                            button.ef-btn.ef-btn-other EVERYTHING ELSE
                    .col-lg-3.col-xs-12.p-y-1
                        button.ef-btn.ef-btn-main(data-toggle="modal", data-target="#t3", aria-hidden="true") Modal Inverse
                        #t3.modal.ef-modal.col-xs-12
                            .modal-dialog(role='document')
                                .modal-content(style='max-width: 450px;')
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                        p.center-block
                                            | This I have produced as a scantling of Jack's great eloquence and force of his reasoning upon such abstruse matters
                                        p
                                            button.ef-btn.ef-btn-other.pull-left EVERYTHING ELSE
                    .col-lg-3.col-xs-12.p-y-1
                        button.ef-btn.ef-btn-main(data-toggle="modal", data-target="#t4", aria-hidden="true") Modal Error
                        #t4.modal.ef-modal.ef-modal.modal-error.col-xs-12
                            .modal-dialog(role='document')
                                .modal-content(style='max-width: 450px;')
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                        p
                                            span.icon.icon-cross(style='font-size: 2em;font-weight:bold;').text-bold.text-tomatito
                                        p.center-block
                                            | This I have produced as a scantling of Jack's great eloquence and force of his reasoning upon such abstruse matters
                                        p
                                            button.ef-btn.ef-btn-other.pull-left EVERYTHING ELSE
