#site-nav.text-xs-center
  .container
    ul.nav.ef-nav
      li.nav-item
        a.nav-link.active(href="#sec-statement", data-toggle="tab")
          span.hidden-xs-down General statement
          span.hidden-sm-up General
      li.nav-item
        a.nav-link(href="#sec-colours", data-toggle="tab") Style
      li.nav-item
        a.nav-link(href="#sec-layout", data-toggle="tab")
          span.hidden-xs-down Layout Structure
          span.hidden-sm-up Layout
      li.nav-item
        a.nav-link(href="#banners", data-toggle="tab") Components
