section.section-statements
  .p-y-2
    .container
      h2 General Statement
      .row
        .p-y-1.hidden-lg-up
        .col-lg-push-5.col-lg-7
          h5 What is dGUD style guide?
          p.m-y-2
            | dGUD (digital Grand Unified Design) style guide is a complete design guideline, consisting of a set of design principles and assets that demonstrates the good practice of EF web and mobile app design. dGUD is an extension of the original GUD 3.0 Brand guidelines, available here.

          h5 Why do we need a dGUD style guide?
          p.m-y-2
            | The dGUD style guide provides guidance for the design work inside EF. It will help designers to build web pages and mobile apps with great visual quality, clean graphic style, and more importantly, brand consistency.

          h5 How to use the guide?
          p.m-y-2
            | The dGUD style guide is meant to help designers build great interfaces reducing the time spent on exploration or conceptualization of a visual identity. While we understand certain areas of the school deserve more prominence and visual/functional identity, we believe it's in good effort to offer other designers across the company a set of assets and components that have been carefully crafted, with rigorous emphasis on simplicity, hierarchy, typography, spacing and color. Said principles should help to narrow down the liberate nature of creative work, thus reducing the broad assortment of design styles across BUs.
          p.m-y-1
            | Please note that the style guide is meant to provide you a graphical guidance. These are rules, or constrains. These are tools for great design.
          p.m-y-1
            | This documentation is not your answer for underlying UX problems. For those, please refer to your UX lead.
