section.section-tabs
  .bg-warm-eggshell.p-y-3
    .container
      h2 4.8 HEADER & MENUS/TABS
    .p-y-3
      nav.navbar.ef-navbar.bg-white
        button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse" data-target="#exCollapsingNavbar1")
          &#9776;
        .container.collapse.navbar-toggleable-xs#exCollapsingNavbar1
          a.navbar-brand(href="#") EF
          ul.nav.navbar-nav
            li.nav-item.dropdown.open
              a.nav-link(href="#") course
              .dropdown-menu
                a.dropdown-item(href="#") CURRENT COURSE
                .dropdown-divider
                a.dropdown-item(href="#") PROGRESS
                .dropdown-divider
                a.dropdown-item(href="#") ASSESSMENT TEST
                .dropdown-divider
                a.dropdown-item(href="#") CHANGE COURSE
                .dropdown-divider
                a.dropdown-item(href="#") APPS & TOOLS
            li.nav-item.active
              a.nav-link(href="#") CLASSES
            li.nav-item
              a.nav-link(href="#") ADMIN
            li.nav-item
              a.nav-link(href="#") help
          ul.nav.navbar-nav.pull-lg-right
            li.nav-item.dropdown.open.dropdown-right
              a.nav-link(href="#")
                img.user-picture.user-picture-small.img-circle(src="http://77fhp9.com1.z0.glb.clouddn.com/lijun.jpg")
    .p-y-3
    .p-y-3
    .p-y-3
      nav.navbar.ef-nav.bg-white
        button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse" data-target="#exCollapsingNavbar2")
          &#9776;
        .container.collapse.navbar-toggleable-xs#exCollapsingNavbar2
          a.navbar-brand(href="#") EF
          ul.nav.navbar-nav
            li.nav-item
              a.nav-link(href="#") course
            li.nav-item.active
              a.nav-link(href="#") CLASSES
            li.nav-item
              a.nav-link(href="#") ADMIN
            li.nav-item
              a.nav-link(href="#") help
          ul.nav.navbar-nav.pull-lg-right
            li.nav-item.dropdown.open.dropdown-right
              a.nav-link(href="#")
                img.user-picture.user-picture-small.img-circle(src="http://77fhp9.com1.z0.glb.clouddn.com/lijun.jpg")
              .dropdown-menu
                a.dropdown-item(href="#") YOUR PROFILE
                .dropdown-divider
                a.dropdown-item(href="#") ACCOUNT SETTINGS
                .dropdown-divider
                a.dropdown-item(href="#") LOGOUT
    .p-y-3
    .p-y-3
    .p-y-3
      .container
        ul.nav.ef-nav
          li.nav-item
            a.nav-link.active(href="#") GENERAL ENGLISH
          li.nav-item
            a.nav-link(href="#") BUSINESS
          li.nav-item
            a.nav-link(href="#") INDUSTRY
          li.nav-item
            a.nav-link(href="#") TRAVEL
          li.nav-item
            a.nav-link(href="#") TOEFL/TOEIC PREPARATION
