section.ef-tabs
  .bg-warm-eggshell.p-y-3
    .container
      h2 4.8 HEADER & MENUS/TABS
      .p-y-3
        ul.nav.nav-ef
          li.nav-item
            a.nav-link.active(href="#") GENERAL ENGLISH
          li.nav-item
            a.nav-link(href="#") BUSINESS
          li.nav-item
            a.nav-link(href="#") INDUSTRY
          li.nav-item
            a.nav-link(href="#") TRAVEL
          li.nav-item
            a.nav-link(href="#") TOEFL/TOEIC PREPARATION
