section.section-toc
  .p-y-3
    .container
      h2 Table of contents
      .row
        .p-y-1.hidden-lg-up
        .col-lg-push-5.col-lg-7
          ol.row.toc
            li.col-sm-6 General statement
              ol
                li
                  a(href='#sec-what') What is dGUD style guide?
                li
                  a(href='#sec-why') Why do we need a dGUD style guide?
                li
                  a(href='#sec-how') How to use the guide?

            li.col-sm-6 Style
              ol
                li
                  a(href='#sec-colours') Colours
                li
                  a(href='#sec-type') Typography
                li
                  a(href='#sec-imagery') Imagery
                li
                  a(href='#sec-icons') Icons

            li.col-sm-6 Layout Structure
              ol
                li
                  a(href='#sec-grid-unit') Grid Unit Proportions
                li
                  a(href='#sec-spacing') Spacing
                li
                  a(href='#sec-micro-layouts') Micro Layouts
                li
                  a(href='#sec-layout-blocks') Layout Blocks
                li
                  a(href='#sec-grid-dashboard') Shattered Grid Dashboard

            li.col-sm-6 Components
              ol
                li
                  a(href='#banners') Banners
                li
                  a(href='#breadcrumbs') Breadcrumbs
                li
                  a(href='#buttons') Buttons
                li
                  a(href='#cards') Cards of Content
                li
                  a(href='#controls') Common UI Controls
                li
                  a(href='#dialogues') Dialogues
                li
                  a(href='#forms') Forms
                li
                  a(href='#menu-tabs') Header Menu/TABS
                li
                  a(href='#menu-headings') Headings
                li
                  a(href='#info-bars') Information Bar

