section.typography
    .bg-warm-grey.p-y-3
        .container
            h2 2.2 TYPOGRAPHY
            .row.m-b-3
                .col-md-push-6.col-md-6
                    dfn.text-gray-light
                        | Good typography adds personality to an application. It can help to set the tone in the absence of visual elements.

            .row
                .col-md-4
                    p
                        | Helvetica is EF flagship font. In mobile apps it is used in a variety of ways, 75 bold capitals for headlines, 35 Thin and 45 Light Title case for a more friendly headline, 45 Light for body copy and 55 Roman wide tracked caps for buttons.

                .col-md-8
                    .row
                        .col-md-3
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    .card-text.letters.text-thin abc
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase 35 thin
                        .col-md-3
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    .card-text.letters.text-light abc
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase 45 light
                        .col-md-3
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    .card-text.letters.text-medium abc
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase 65 medium
                        .col-md-3
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    .card-text.letters.text-bold abc
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase 75 bold

                        .col-md-12
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    h1.card-text CHANGE COURSE
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase h1- 46 px - 75 bold

                        .col-md-12
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    h2.card-text PRESENTATIONS
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase h2 - 36 px - 75 bold

                        .col-md-12
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    h3.card-text William Fergusson
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase h3 - 30 px - 45 light

                        .col-md-12
                            .card.text-xs-center.font-card
                                .card-block.p-y-3
                                    h4.card-text Details
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase h3 - 20 px - 45 thin

                        .col-md-12
                            .card.font-card
                                .card-block.p-y-3
                                    p.card-text
                                        | It makes me happy when people are kind and accepting toward each other, looking out for each other, living the truth that we are all connected to and responsible for each other. It makes me mad when people suffer.
                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase CONTENT - 14 PX - 45 LIGHT - 20 PX LINE SPACING

                        .col-md-12
                            .card.font-card
                                .card-block.p-y-3
                                    h4.card-title Education
                                    .card-title.text-bold Napier University
                                    p.card-text MSc Hospitality Management. Edinburgh, UK, 2001 - 2004
                                    .card-title.text-bold Oxford Brookes University
                                    p.card-text Bachelors with Honours: Languages for Business (Spanish and French), 2005 - 2006
                                    h4.card-title Certifications
                                    .card-title.text-bold TEFL/TESOL Certificate
                                    p.card-text 40 hours intensive TEFL qualification, 2015

                                .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase example h4 and content mix. 45 light -  75 bold


            .row.m-t-3
                .col-md-4
                    p
                        | Georgia is a supporting font. It is used to create an academic an more traditional contrast when Helvetica feels too modern or unvaried in designs.

                .col-md-8
                    .card.text-xs-center.font-card
                        .card-block.p-y-3
                            .card-text.notes.text-notes.text-xs-center After completing this course you will be able to:
                        .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase notes - 16 px (variable) - Georgia Italic
            .row.m-t-3
                .col-md-4
                    p
                        | Garamond Italic is only used in one place. This is in title lock ups to create a pleasing contrast to Helvetica Bold Caps.


                .col-md-8
                    .card.text-xs-center.font-card
                        .card-block.p-y-3
                            .card-text.contrast.text-contrast.text-xs-center After completing this course you will be able to:
                        .card-footer.font-weight-lighter.text-gray-light.p-y-2.text-uppercase contrast - 25px - Garamond Italic
    .bg-white
        .container
            .row.m-t-3
                .col-md-4
                    p.m-y-3
                        | Lock ups
                        br
                        | H1 + Icon

                .col-md-8
                    .text-xs-center.m-y-2
                        .lockup(style="font-size: 20px")
                            span.icon.icon-course
                        h1 change course

            .row.m-t-3
                .col-md-4
                    p.m-y-3
                        | Lock ups for Learning materials
                        br
                        | H1 + Garamond note + Icon

                .col-md-8
                    .text-xs-center.m-y-2

                        .hidden-sm-down(style="font-size: 30px")
                            .icon.icon-course
                            .lockup Browser more modules

                        .hidden-sm-up(style="font-size: 20px")
                            .icon.icon-course
                            .lockup Browser more modules

                        h1 levels & topics
