doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="icon", href="icons/favicon.ico")
        title Signin Template for Bootstrap
        link(href="main.css", rel="stylesheet")
    body
        header.m-y-3
            h1.text-xs-center.font-weight-lighter
                span.font-weight-normal D
                | GUD DESIGN ASSETS
        main
        include ./partials/colours.jade
        include ./partials/typography.jade