$icon-arrow-long-down: "\2193";
$icon-arrow-long-left: "\2190";
$icon-arrow-long-right: "\2192";
$icon-arrow-long-up: "\2191";
$icon-arrow-sm-down: "\25be";
$icon-arrow-sm-up: "\2303";
$icon-arrow-thin-left: "\2329";
$icon-arrow-thin-right: "\232a";
$icon-check: "\2714";
$icon-cross: "\78";
$icon-ef-logo: "\e900";
$icon-star_fill: "\e902";
$icon-star_outline: "\e901";
$icon-agile-indicator: "\e908";
$icon-airplane: "\e907";
$icon-alert: "\e97f";
$icon-amusement: "\e909";
$icon-anchor: "\e90a";
$icon-aquarium: "\e90b";
$icon-art: "\e90c";
$icon-backpack: "\e90d";
$icon-baseball: "\e90e";
$icon-beach: "\e90f";
$icon-bed: "\e910";
$icon-bicycle: "\e911";
$icon-binoculars: "\e916";
$icon-boat: "\e917";
$icon-book: "\e912";
$icon-bookmark: "\e913";
$icon-brochure: "\e914";
$icon-bus: "\e915";
$icon-business: "\e918";
$icon-calendar: "\e919";
$icon-camera: "\e91a";
$icon-car: "\e91b";
$icon-certificate: "\e91c";
$icon-child: "\e921";
$icon-cinema: "\e922";
$icon-city: "\e91d";
$icon-clock: "\e91e";
$icon-cocktail-glass: "\e91f";
$icon-comment: "\e920";
$icon-compass: "\e923";
$icon-crescent-moon: "\e924";
$icon-delete: "\e925";
$icon-desktop: "\e926";
$icon-dialogue: "\e927";
$icon-dislike: "\e92c";
$icon-diving: "\e92d";
$icon-document: "\e928";
$icon-edit: "\e929";
$icon-email: "\e92a";
$icon-exam: "\e92b";
$icon-exclamation: "\e92e";
$icon-fire: "\e92f";
$icon-folder: "\e930";
$icon-football: "\e931";
$icon-globe: "\e932";
$icon-golf: "\e937";
$icon-gym: "\e938";
$icon-hand: "\e933";
$icon-headphones: "\e934";
$icon-headset: "\e935";
$icon-help: "\e936";
$icon-history: "\e939";
$icon-home: "\e93a";
$icon-horse-riding: "\e93b";
$icon-hotel: "\e93c";
$icon-hourglass: "\e93d";
$icon-hrs24: "\e942";
$icon-image: "\e943";
$icon-laptop: "\e93e";
$icon-lesson: "\e93f";
$icon-library: "\e940";
$icon-lifebuoy: "\e941";
$icon-lightbulb: "\e944";
$icon-like: "\e945";
$icon-location: "\e946";
$icon-lock: "\e947";
$icon-login: "\e948";
$icon-logout: "\e94d";
$icon-luggage: "\e94e";
$icon-magnify: "\e949";
$icon-map: "\e94a";
$icon-meal: "\e94b";
$icon-mobile: "\e94c";
$icon-money: "\e94f";
$icon-museum: "\e950";
$icon-nature: "\e951";
$icon-new: "\e952";
$icon-notification: "\e953";
$icon-notification-ok: "\e958";
$icon-paper: "\e959";
$icon-park: "\e954";
$icon-person: "\e955";
$icon-phone: "\e956";
$icon-piggy-bank: "\e957";
$icon-plus: "\e95a";
$icon-rainy: "\e95b";
$icon-refresh: "\e95c";
$icon-reward: "\e95d";
$icon-save: "\e95e";
$icon-science: "\e963";
$icon-settings: "\e964";
$icon-share: "\e95f";
$icon-shopping: "\e960";
$icon-shopping-cart: "\e961";
$icon-shovel: "\e962";
$icon-skiing: "\e965";
$icon-snow: "\e966";
$icon-soccer: "\e967";
$icon-sound: "\e968";
$icon-speaking: "\e969";
$icon-speech: "\e96e";
$icon-star: "\e96f";
$icon-student: "\e96a";
$icon-subway: "\e96b";
$icon-sun: "\e96c";
$icon-sunny: "\e96d";
$icon-surfing: "\e970";
$icon-swimming: "\e971";
$icon-tablet: "\e972";
$icon-teacher: "\e973";
$icon-tennis: "\e974";
$icon-theatre: "\e975";
$icon-tick: "\e976";
$icon-ticket: "\e977";
$icon-train: "\e978";
$icon-umbrella: "\e979";
$icon-unlock: "\e97a";
$icon-video: "\e97b";
$icon-walking: "\e97c";
$icon-website: "\e97d";
$icon-wine-glass: "\e980";
$icon-world: "\e981";
$icon-wrench: "\e982";
$icon-zoo: "\e983";
